
<div class="login-box">
  <div class="login-logo">
    <b>Admin</b>LTE
  </div>

  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <form (ngSubmit)="doSubmit()">
      <div class="form-group has-feedback">
        <input type="email" name="user" [(ngModel)]="user" class="form-control" placeholder="{{'email'|translate}}">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="password" [(ngModel)]="password" class="form-control" placeholder="{{'password'|translate}}">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <select name="lang" id="lang" class="form-control" (change)="doLang($event)" [(ngModel)]="lang">
          <option value="">{{"selectLang"|translate}}</option>
          <option *ngFor="let lang of langService.langs" [selected]="lang==='zh-tw'" [value]="lang">{{lang|translate}}</option>
        </select>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> {{"Remember Me"|translate}}
            </label>
          </div>
        </div>

        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>

      </div>
    </form>


<!--    <a href="#">I forgot my password</a><br>-->
<!--    <a href="register.html" class="text-center">Register a new membership</a>-->
  </div>

</div>
